.main {
  max-width: 850px;
  margin-top: 90px;
  margin-bottom: 100px;
  padding-left: 30px;
  padding-right: 30px;

  /* margin-left: auto;
     margin-right auto;
     Is a trick for centering an element horizontally
     without needing a container. */
  margin-left: auto;
  margin-right: auto;
}

.back-to-orders-link {
  display: inline-block;
  margin-bottom: 30px;
}

.delivery-date {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.product-info {
  margin-bottom: 3px;
}

.product-image {
  max-width: 150px;
  max-height: 150px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.progress-labels-container {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 450;
  margin-bottom: 15px;
}

.current-status {
  color: rgb(0, 0, 0);
}

@media (max-width: 575px) {
  .progress-labels-container {
    font-size: 18px;
  }
}

@media (max-width: 450px) {
  .progress-labels-container {
    flex-direction: column;
    margin-bottom: 5px;
  }

  .progress-label {
    margin-bottom: 3px;
  }
}

.progress-bar-container {
  height: 25px;
  width: 100%;

  border: 1px solid rgb(15, 12, 12);
  border-radius: 50px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background: linear-gradient(90deg,
      rgb(80, 0, 100),
      /* Dark purple */
      rgb(150, 0, 120),
      /* Purple-red */
      rgb(200, 80, 100),
      /* Pinkish red */
      rgb(0, 102, 150),
      /* Medium teal */
      rgb(156, 80, 200)
      /* Olive green */
    );
  background-size: 400% 100%;
  border-radius: 50px;
  width: 50%;
  animation: shimmer 16s infinite linear;
  box-shadow: 0 0 15px rgba(100, 0, 80, 0.4);
}

@keyframes shimmer {
  0% {
    background-position: 100%;
    /* Start from left */
  }

  100% {
    background-position: 0% 0;
    /* Move to right */
  }
}
